header h1{
    position: relative;
    background-color:#c49bb0;
    max-width: 400px;
    padding: 5px;
    top: 10px;
    font-family:'Courier New', Courier, monospace;
    text-decoration:
}

nav ul{
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: #94DCDC;
    bottom: 20px;
    right: 40px;
}
nav ul li{
    justify-content: flex-end;
    margin-right:20px;
}

nav a{
    color: #94DCDC;
    text-decoration: none;
    border-bottom: 3px #94DCDC solid;
    margin: 150px, 150px;
}

header {
    background-color:#0F3C3C;
    min-height: 80px;
}

header h1 p{
    margin-left: 65px;
    color: #0F3C3C;
}

.backgroundimage{
    position: relative;
    text-align: center;
}

.bottom-right {
    position: absolute;
    bottom: 35px;
    right: 75px;
    background-color:#c49bb0;
    color: #0F3C3C;
    padding: 5px;
}

.about-me-title{
    font-size: 300%;
    position: relative;
    top: 30px;
    left: 100px;
    max-width: 200px;
    border-right: 5px #0F3C3C solid;
    padding-bottom: 60px;
    padding-right: 20px;
    margin-bottom: 100px;
    text-align: end;
    color: rgb(64, 64, 64);
}

article section {
    position: absolute;
    left: 350px;
    right: 100px;
    padding-bottom: 10px;
    top: 310px;
    align-items: end;
}

article section p{
    padding-bottom: 15px;
}

.work-title{
    font-size: 300%;
    position: relative;
    top: 30px;
    left: 100px;
    max-width: 200px;
    border-right: 5px #0F3C3C solid;
    padding-bottom: 920px;
    padding-right: 20px;
    margin-bottom: 100px;
    text-align: end; 
    color: rgb(64, 64, 64);
}

section ul li div {
    background-color:#94DCDC;
    color: #0F3C3C;
    padding: 20px 5px 15px 5px;
    position: relative;
    right: 116px;
    top: 30px;
}

#big-text-box-position{
    background-color:#94DCDC;
    color: #0F3C3C;
    position: relative;
    right: 400px;
    top: 150px
}

#work-section{
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    top: 250px;
    align-items: center;
    right: 13px
}

#Big-tile{
    border: 5px #94DCDC solid;
    padding: 200px 400px;
    background-image: url("./3428449.jpg");
    background-size: cover;
    background-position: center;
    width:1000px;
}

#article section ul li:hover {
    border: 10px black solid;
}


#Small-Tile1{
    border: 5px #94DCDC solid;
    background-image: url("./3134864.jpg");
    background-size: cover;
    background-position: center;
    padding-right: 150px;
    
}

#Small-Tile2{
    border: 5px #94DCDC solid;
    background-image: url("./2150697434.jpg");
    background-size: cover;
    background-position: center;
    width: 490px
}

#Small-Tile3{
    border: 5px #94DCDC solid;
    background-image: url("./3d-render-abstract-background-with-modern-plexus-design.jpg");
    background-size: cover;
    background-position: center;
    width: 490px;
}

#Small-Tile4{
    border: 5px #94DCDC solid;
    background-image: url("./rorozoa_972022_2_17.jpg");
    background-size: cover;
    background-position: center;
    width: 490px;
}


article section ul li{
    border: 4px #94DCDC solid;
    padding: 50px 116px;
    margin: 10px;
    text-align: left;
    width: 490px;
}



.contact-me-title{
    font-size: 300%;
    position: relative;
    top: 30px;
    left: 100px;
    max-width: 200px;
    border-right: 5px #0F3C3C solid;
    padding-bottom: 60px;
    padding-right: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
    text-align: end;
    color: rgb(64, 64, 64);
}

aside section ul{
    position: relative;
    display: flex;
    justify-content:space-between;
    color: black
    border: 0px;
    padding: 50px 200px 0px 200px;
    bottom: 240px;
    left: 190px;
    max-width: 1300px;

}

aside section ul li{
    border-bottom: 5px rgb(64, 64, 64) solid;
}

